<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sammy.edward.flagcap" >

    <!-- Permission usage -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HandleOuterRequestActivity"
            android:label="@string/mainactivityb_title"
            android:parentActivityName=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="text/plain"></data>
            </intent-filter>
        </activity>

        <activity
            android:name=".CounterActivity"
            android:label="@string/count_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".StartMenuActivity"
            android:label="@string/startmenu_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".LocationActivity"
            android:label="@string/location_tracker_title"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
